<h1>Your created events</h1>
<%= link_to "Go back", root_path %>

<table>
    <tr>
        <td> Name </td>
        <td> Date </td>
        <td> Location </td>
    </tr>
    <% @events.each do |event| %>
    <tr>
        <td> <%= event.name %> </td>
        <td> <%= event.date %> </td>
        <td> <%= event.creator.name %> </td>
    </tr>
    <% end %>
</table>

